.SignInForm {
    background: linear-gradient(132deg, #073d3a, #05210c);
    background-size: 1200% 1200%;
    animation: BackgroundGradient 30s ease infinite;

    padding: 50px;
    color: white;
    font-size: 22px;
    border-radius: 20px;
    position: center;
    box-shadow: 10px 10px 2px rgba(44, 44, 44, 0.6);
    border-bottom-color: black;
}

@keyframes BackgroundGradient {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

